/* estilos.css */

body {
    background-color: #000000;
    background-image: url("cielo.jpg");
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: black;
}

h1 {
    margin-bottom: 20px;
}

.fondo-color {
    background-color: #c3e5f8;
    padding: 20px;
}

.letra-chica-1 {
    font-size: 12px;
    font-style: italic;
}

.letra-chica-2 {
    font-size: 15px;
    font-weight: lighter;
}

.nav-link {
    color: #199be4;
}

.navbar{
    background-color: #c3e5f8;
}

.container{
    background-color:#84a3b4;
}
 .btn{
    background-color: grey;
 }