/* estilos.css */

/* Usando 'css variables' para gradientes de colores */
:root {
    /* Gradiente de grises */
    --grey-color-1: #606870;
    --grey-color-2: #6C757D;
    --grey-color-3: #606870;
    --grey-gradient: linear-gradient(to right, var(--grey-color-1), var(--grey-color-2), var(--grey-color-1));

    /* Gradiente de tonos cálidos */
    --warm-color-1: #F6CA1D;
    --warm-color-2: #EF3708;
    --warm-color-3: #B51E31;
    --warm-gradient: linear-gradient(to right, var(--warm-color-1), var(--warm-color-2), var(--warm-color-3));
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background-image: var(--grey-gradient);
    border-color: transparent;
}

#main {
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-image: var(--grey-gradient);
    border-color: transparent;
    color: white;
}

/* Ajustantando para alinear las listas con los inputs en vista 'Shop cart') */
.list-group-item {
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

#ver, #ver:hover {
    color: inherit !important;
    text-decoration: none;
    cursor: text !important;
}

.btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 6px 0;
    font-size: 11px;
    line-height: 1;
    border-radius: 12px;
}

.fondo-code-lg, .fondo-code-sm {
    background-color: black !important;
    color: white !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: monospaced, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    text-transform: uppercase;
    user-select: all;
}

.fondo-code-lg {
    text-align: center;
    font-size: 24px;
}

.fondo-code-sm {
    font-size: 16px;
}

.mensaje-code {
    margin-top: 5px;
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
}
