/* estilos.css */

.footer {
    position: fixed;
    margin: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: black;
    text-align: center;
    font-size: 15px;
}
